<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">
    <label>作者名: </label><input type="text" name="author_name" placeholder="请输入作者名"><br/>
    <label>书名： </label><input type="text" name="book_name" placeholder="请输入书名"><br/>
    <input type="submit" value="保存">
</form>
{% for get_flashed_message in get_flashed_messages() %}
<script>alert("{{ get_flashed_message }}")</script>
{% endfor %}
<ul>
    {% for author in authors %}
        <li>{{ author.name }}<a href="/delete_author/{{ author.id }}" >删除作者</a></li>
    <ul>
        {% for book in author.books %}
            <li>{{ book.name }}<a href="/delete_book/{{ book.id }}" >删除书籍</a></li>
        {% endfor %}
    </ul>
    {% endfor %}
</ul>

</body>
</html>